@mixin flex-item($flex-direction: column, $align-items: center, $justify-content: center) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin workshop-section() {
    width: 100%;
    color: $color-workshop-text;

    & > * {
        padding: $padding-workshop-items;
    }

    &__title {
        border-top: $border-workshop;
        border-bottom: $border-workshop;
    }

    &__button {
        color: $color-workshop-button;
        background-color: $background-color-workshop-button;
        padding: $padding-workshop-button;
        margin-left: $padding-workshop-items;
    }
}