/*
 * COLORS
 */

$color-body: #18191A;
$color-genre-background: rgb(255, 255, 255, 0.1);
$color-genre-background-hover: rgb(255, 255, 255, 0.2);
$color-genre-font: #FFF;
$color-lobby-background: rgb(255, 255, 255, 0.1);

/*
 * FONT SIZES
 */

$fs-genre: 0.85rem;
$fs-lobby-name: 1.5rem;

/*
 * FONT FAMILIES
 */

$ff-main: 'Outfit', sans-serif;
$ff-logo: 'Lobster', cursive;