.main {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "navigation navigation navigation"
                         "pane__left pane__main pane__right";
    width: 100%;
    padding: 0 2em;
}

.main, .pane__left, .pane__main, .pane__right {
    height: 100%;
}