.navigation {
    @include flex-item(row, center, space-between);
    grid-area: navigation;

    color: $color-navigation;

    h2 {
        font-family: $ff-logo;
        font-size: 2.5rem;
    }
}
