.genre {
    background-color: $background-color-genre;
    color: $color-genre-font;
    margin-bottom: 1.2em;
    padding: 0.75em 2.25em;
    border-radius: $border-radius-general;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease;
    width: fit-content;
    cursor: pointer;
    
    & > p {
        white-space: nowrap;
        max-width: 15ch;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        filter: brightness(200%);
    }
}